
/*** Fonts ***/
$roboto-font-path: "bower_components/Materialize/font/roboto/" !default;
$icons-font-path: "bower_components/Materialize/font/material-design-icons/" !default;

$primary-color: color("blue-grey", "base") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("deep-orange", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;