
<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="col s12 m8 l6 offset-m2 offset-l3">
            <div class="card">
                <div class="card-content">
                    <p>
                        <span class="error-text" ng-show="loginError">Wrong email address or password</span>
                    </p>
                    <span class="card-title">Login</span>
                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" id="email" ng-model="user.email">
                            <label for="email">Email address</label>
                        </div>
                        <div class="col s12 input-field">
                            <input type="password" id="password" ng-model="user.password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a class="right" ng-click="login()">Login</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>