
body {
  background: white;
  color: #333;
}

.primary {
  background: $primary-color;
}

.primary-text {
  color: $primary-color;
}

.secondary {
  background: $secondary-color;
}
.secondary-text {
  color: $secondary-color;
}

.error-text {
  color: $error-color;
}

.clear {
  clear: both;
}

a {
  cursor: pointer;
}

.primary-floating-action {
  position: absolute;
  right: 30px;
  top: 25px;
}
@media screen and (max-width: $small-screen) {
  .primary-floating-action {
    position: fixed;
    right: 30px;
    top: auto;
    bottom: 30px;
  }
}