
<div class="container">
    <div class="row users--container">
        <div class="col s12 m4">
            <div class="users--upload-profilepic valign-wrapper" ng-click="uploadProfilePicture()">
                <p ng-show="!imageLoaded && myself">Upload picture</p>
                <img ng-src="{{previewSRC}}" alt="" class="valign" ng-class="{loaded: imageLoaded}">
            </div>
            <input class="uploadButton" id="uploadProfilePictureButton" type="file"/>
        </div>
        <div class="col s12 m8">
            <div class="card">
                <div class="card-content">
                    <span class="card-title black-text">
                        {{user.firstname}} {{user.lastname}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>