
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo">Logo</a>
            <a data-activates="mobile-navigation" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="right hide-on-med-and-down" ng-show="loggedIn">
                <li><a href="#/news/">News</a></li>
                <li><a href="#/events/">Events</a></li>
                <li><a href="#/users/">People</a></li>
                <li><a href="#/offers/">Offers</a></li>
                <li><a href="#/requests/">Requests</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-navigation" ng-show="loggedIn">
                <li><a href="#/news/">News</a></li>
                <li><a href="#/events/">Events</a></li>
                <li><a href="#/users/">People</a></li>
                <li><a href="#/offers/">Offers</a></li>
                <li><a href="#/requests/">Requests</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>